html {
    font-size: 16px; /* tamanho base */
}

/* Estilo do body */
body {
    background-color: #e2c8e4 !important;
    font-family: 'Montserrat', sans-serif;
}

/* Estilo do logo */
.logo {
    max-height: 85px !important;   
    max-width: 100%;
    transition: transform 0.2s ease-in-out;
}

 /* Ajusta a altura máxima do logo em telas pequenas */
 /* @media no CSS permite aplicar estilos somente em determinadas condições, como a largura da tela do dispositivo. É uma maneira de fazer seu site responsivo */
@media (max-width: 576px) {
    .logo {
        max-height: 72px !important;
    }
}

.logo:hover {
    transform: scale(1.03); 
}

/* Navbar background */
.navbar {
    background-color: #e2c8e4 !important; 

}

/* Menu hambuerger */
.navbar-toggler {
    border: 1px solid #543e92 !important; /* Cor da borda */
    background-color: #e2c8e4 !important; /* Cor de fundo roxa */
    border-radius: 20px; /* Arredondar os cantos */
}

/* Estilizando o ícone do hambúrguer (as 3 linhas) */
.navbar-toggler-icon {
    background-color: #e2c8e4; /* Cor das linhas */
    width: 20px !important; /* Largura das linhas */
}

/* Navbar links */
.navbar-nav .nav-link {
    color: black !important; 
    font-size: 1rem;
    font-family: 'Montserrat', sans-serif !important; 
    font-weight: 400; /* Medium-bold */
}

/* Navbar links on hover */
.navbar-nav .nav-link:hover {
    color: #543e92 !important;
    transition: color 0.2s ease-in-out;
}

/* Dropdown menu */
.dropdown-menu {
    background-color: #343a40; 
    border-radius: 3px !important;
    border: none !important;
    padding: 24px 2px !important;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.2s ease, visibility 0s 0.2s;
}

.nav-item.dropdown:hover .dropdown-menu {
    visibility: visible;
    opacity: 1;
    transition: opacity 0.2s ease, visibility 0s 0s;
}

/* Dropdown links */
.dropdown-menu .dropdown-item {
    color: #36236a !important; 
    font-family: 'Montserrat', sans-serif !important;
    font-size: 1rem;
    font-weight: 400; /* Medium-bold */
    transition: background-color 0.3s ease, transform 0.3s ease;
}

/* Dropdown links on hover */
.dropdown-menu .dropdown-item:hover {
    background-color: #543e92 !important;
    color: white !important;
    transform: translateX(-16px);
}

/* Search bar */
.form-inline {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    width: 100%; /* Garante que o form ocupe toda a largura disponível */
    max-width: 540px;
}

/* Search bar */
.search-type {
    border: 1px solid #e2c8e4 !important;
    background-color: #f8f9fa !important;
    color: #000;
    padding: 0.5rem;
    margin-right: 0.5rem;
    border-radius: 20px !important;
    flex-grow: 1; /* Faz o input crescer para ocupar o espaço disponível porque tanto .search-type quanto .btn-search usam width: 100% dentro do mesmo .form-inline e mudar a largura de um afeta o outro*/
    flex-shrink: 1; /* Permite que o input encolha se necessário */
    flex-basis: 0; /* Garante que o input respeite max-width de 450 px */
}

/* Search bar button */
.btn-search {
    color: #543e92 !important;
    border-color: #543e92 !important;
    padding: 0.5rem 1rem;
    border-radius: 20px !important;
    width: auto; /* Mantém o tamanho baseado no conteúdo */
    max-width: 140px !important;
    flex-grow: 1; /* Impede que o botão cresça (no espaço que divide com a search bar) */
    flex-shrink: 0; /* Impede que o botão encolha (no espaço que divide com a search bar) */
    font-weight: 600 !important;
}

/* Search bar button */
.btn-outline-success:hover {
    background-color: #543e92 !important;
    color: #e2c8e4  !important;
    transition: background-color 0.2s ease, color 0.2s ease;
}

/* Botão de Registo */
.btn-register {
    color: #e2c8e4 !important;
    background-color: #543e92 !important;
    border-color: #543e92 !important;
    padding: 0.5rem 1rem;
    border-radius: 20px !important;
    width: 130px; /* Mantém o tamanho baseado no conteúdo */
    max-width: 130px !important;
    font-weight: 600 !important;
    transition: background-color 0.2s ease, color 0.2s ease;
}

/* Botão de Registo on hover */
.btn-register:hover {
    background-color: #e2c8e4 !important;
    color: #543e92  !important;
    transition: background-color 0.2s ease, color 0.2s ease;
}

/* topo do offcanvas de Login */
#offcanvasLogin {
    background-color: #36236a !important;
    color: #e2c8e4; 
}

/* topo do offcanvas de Registo */
#offcanvasRegister {
    background-color: #36236a !important;
    color: #e2c8e4; 
}

/* offcanvas botão de login/registo */
.btn-offcanvas {
    color: #36236a !important;
    background-color: #e2c8e4 !important;
    border-color: #e2c8e4 !important;
    padding: 0.5rem 1rem;
    border-radius: 20px !important;
    width: 130px; /* Mantém o tamanho baseado no conteúdo */
    max-width: 130px !important;
    font-weight: 600 !important;
    transition: background-color 0.2s ease, color 0.2s ease;
}

/* botão de Registo on hover */
.btn-offcanvas:hover {
    background-color: #36236a!important;
    color: #e2c8e4  !important;
    transition: background-color 0.2s ease, color 0.2s ease;
}

/* offcanvas Login/registo */
/* Estilo do offcanvas */
.offcanvas {
    width: 400px;
    border: none !important;
    box-shadow: none !important;
}

/* offcanvas body */
.offcanvas-body {
    background-color:  #36236a; 
    color: #e2c8e4 !important;
}

/* offcanvas Login/registo */
/* cor do texto digitado dentro dos formulários*/
.offcanvas-body input {
    color: #e2c8e4  !important; 
}

/* offcanvas Login/registo */
/* cor dos placeholders do formulário no offcanvas */
.offcanvas-body input::placeholder {
    color: #e2c8e4 !important; 
}

/* offcanvas Login/registo */
/* Titulo do offcanvas */
.offcanvas-title {
    font-size: 1.5rem;
    font-weight: bold;
}

/* offcanvas Login/registo */
/* Estilo do formulario dentro do offcanvas */
.form-group {
    margin-bottom: 1rem;
}

/* offcanvas Login/registo */
/* estilo dos inputs */
.form-control {
    border-radius: 5px;
    border: 1px solid #ced4da;
}

/* offcanvas Login/registo */
.btn.btn-offcanvas-link {
    color: #e2c8e4 !important; 
    text-decoration: underline; /* Manter o texto sublinhado */
    transition: transform 0.2s ease, text-decoration 0.2s ease;
}

/* offcanvas Login/registo */
.btn.btn-offcanvas-link:hover {
    color: #e2c8e4 !important;  /* Não alterar a cor ao passar o mouse */
    text-decoration: none;   /* Remover o sublinhado ao passar o mouse */
    transform: scale(1.04);   
}

/* offcanvas Login/registo */
/* aviso no final do offcanvas de Login/registo */
.warning {
    font-size: 0.8em;
}

/* offcanvas Login/registo */
/* aviso no final do offcanvas de Login/registo */
.warning-link {
    color: #e2c8e4 !important; 
    text-decoration: underline; /* Manter o texto sublinhado */
}

/* offcanvas Login/registo */
/* aviso no final do offcanvas de Login/registo */
.warning-link:hover {
    color: #e2c8e4 !important;  /* Não alterar a cor ao passar o mouse */
    text-decoration: none;   /* Remover o sublinhado ao passar o mouse */
}

/* Setas do carousel */
.carousel-control-prev-icon {
    position: absolute;
    justify-content: left;
    top: 50%; 
    transform: translateY(-50%); 
    border-radius: 5%;
    left: 2%; /* Mantém a seta próxima à margem esquerda (2% da largura da tela) */
    width: 2vw; /* Largura da seta ajustada proporcionalmente à largura da tela --> opção mais responsiva, se comparado com width e height */
    height: 2vw; /* Altura da seta ajustada proporcionalmente à largura da tela --> opção mais responsiva, se comparado com width e height */
    /* obs: vw = viewport width. */
    /* obs: 1vw = 1% da largura total da sua viewport */
}

.carousel-control-next-icon {
    position: absolute;
    justify-content: right;
    top: 50%; 
    transform: translateY(-50%); 
    border-radius: 5%;
    right: 2%; /* Mantém a seta próxima à margem direita (2% da largura da tela) */
    width: 6vw; /* Largura da seta ajustada proporcionalmente à largura da tela --> opção mais responsiva, se comparado com width e height */
    height: 6vw; /* Altura da seta ajustada proporcionalmente à largura da tela --> opção mais responsiva, se comparado com width e height */
}


.carousel-control-prev-icon:hover,
.carousel-control-next-icon:hover {
    background-color: #543e92; 
    transition: background-color 0.2s ease, color 0.2s ease;
}


/* ----------------------------------------------------------------------------- */

/* Exclusivo da página em questão: */





/* Eestilo da box de inserção de texto de "Brreve descrição de proposta de formação */
.proposta {
    min-height: 200px;
    max-height: 50px;
    resize: vertical;
}

/* estilo do menu de seleção de opções Bootstrap ("Como descobriu a CESAE?") */
select.form-select {
    border: 1px solid #e2c8e4 !important;
    border-radius: 3px !important;
    background-color: #36236a !important;
    color:  #e2c8e4 !important;
    padding: 10px;
}

/* estilo do menu de seleção de opções Bootstrap ("Como descobriu a CESAE?") */
form-select:focus {
    border-color: #b08fc9 !important;
    box-shadow: 0 0 5px rgba(226, 200, 228, 0.5) !important;
}

#selecao {
    border: 1px solid #e2c8e4 !important;
    border-radius: 3px !important;
    background-color: #36236a !important;
    color:  #e2c8e4 !important;
    padding: 10px;
}

#selecao:focus {
    border-color: #b08fc9 !important;
    box-shadow: 0 0 5px rgba(226, 200, 228, 0.5) !important;
}



/* ----------------------------------------------------------------------------- */


/* Footer */
.footer {
    background-color: white !important; 
    color: #000;
    font-size: 0.875rem; 
}

.footer-text {
    text-align: left !important; /* Alinhamento texto à esquerda */
}

.footer-link {
    color: #000;
    text-decoration: none;
    font-size: 0.875rem;
}

.footer-link:hover {
    text-decoration: underline;
}

.social-icon {
    width: 32px; /* Tamanho dos ícones */
    height: 32px; /* Tamanho dos ícones */
    margin-left: 3px; /* Espaçamento entre os ícones */
    transition: transform 0.4s ease; /* Transição suave */
}

.social-icon:hover {
    transform: scale(1.1); /* Aumenta o tamanho dos ícones ao passar o mouse */
}
